.Col-Full-Height {
    height: 100%;
    min-height: auto;
}

.CircleTimer {
    --track-color: rgba(130, 130, 130, 0.57);
    --progress-color: rgb(255, 255, 255);
    --percentage-color: white;
}

.CircleTimer Label {
    display: none;
}