.SingleNews {
    transition-duration: 0.5s;
    display: flex;
    position: absolute;
    top: 0;
    transition-delay: 1s;
}

.SingleNews--Hide {
    transition-duration: 0.5s;
    opacity: 0;
    display: none;
    translate: 0 -214px;
    transition-delay: 0s;
}

.Mamad {
}
